In [39]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [40]:
# no date
path = '/home/daisy/FDA_Dataset/demographics_static_quality_admission.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

# no date
path = '/home/daisy/FDA_Dataset/immunization_quality_admission.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_allcause_mortality_quality.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean_allcause_mortality_quality.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [41]:
# path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
# outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_allcause_mortality_quality.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/demographics_event_quality_admission.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

# no date
path = '/home/vivi/FDA_datasets/outpatient_state_quality_admission.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/inpatient_measurements_bp_allcause_mortality_quality.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [42]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality_quality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_allcause_mortality_quality.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [43]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [44]:
df

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,67,313,0,2020-11-11 16:00:31.0,0,0,313,0,0,0,...,0.0,0.0,78.0,0.0,0.0,0.0,41.0,3.73,52.601590,2.963822
1,200,1872,1,2023-02-13 10:31:19.0,0,0,0,741,1131,0,...,0.0,0.0,0.0,68.0,53.0,0.0,255.0,11.59,78.351188,4.920841
2,291,234,0,2007-03-26 14:15:45.0,0,0,0,0,234,0,...,0.0,0.0,0.0,0.0,57.0,0.0,291.0,72.75,82.348391,1.191165
3,330,932,1,2024-03-01 00:19:37.0,0,0,51,881,0,0,...,0.0,0.0,4.0,26.0,0.0,0.0,224.0,9.74,68.476453,4.950045
4,351,773,1,2024-06-04 14:45:34.0,0,0,0,0,773,0,...,0.0,0.0,0.0,0.0,117.0,0.0,102.0,51.00,85.088940,0.453117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,167907,181,0,2013-11-14 23:44:48.0,0,0,0,31,150,0,...,0.0,0.0,0.0,15.0,23.0,0.0,10.0,0.91,80.548113,4.202618
996,167917,442,1,2022-01-27 05:25:51.0,0,0,442,0,0,0,...,0.0,0.0,117.0,0.0,0.0,0.0,60.0,6.00,45.146645,2.375770
997,168008,776,1,2013-12-03 23:38:48.0,0,0,0,776,0,0,...,0.0,0.0,0.0,207.0,0.0,0.0,167.0,33.40,72.049028,1.506570
998,168496,151,1,2023-02-03 22:36:15.0,0,0,0,9,142,0,...,0.0,0.0,0.0,1.0,17.0,0.0,12.0,0.60,89.631407,7.047480
999,168899,234,1,2019-11-20 03:24:47.0,0,0,0,9,225,0,...,0.0,0.0,0.0,0.0,6.0,0.0,16.0,1.14,85.145731,3.835095

In [45]:
df.columns

Index(['Internalpatientid', 'num_visits', 'CVD', 'last_visit_date_x',
       'Age 00-20', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'freq', 'total_procedure',
       'num_surgery_pro', 'Ethnicity', 'Gender', 'Races', 'Veteran flag',
       'Ethnicity_0', 'Ethnicity_1', 'Ethnicity_2', 'Races_0', 'Races_1',
       'Races_2', 'Races_3', 'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Event date', 'Marital status',
       'Ruca category', 'Marital status encoded', 'Ruca category encoded',
       'State', 'last_visit_date_y', 'Age 20-40 hypotension',
       'Age 40-60 hypotension', 'Age 60-80 hypotension',
       'Age 80-100 hypotension', 'Age 100-120 hypotension',
       'Age 20-40 healthy', 'Age 40-60 healthy', 'Age 60-80 healthy',
       'Age 80-100 healthy', 'Age 100-120 healthy', 'Age 20-40 hypertension',
       'Age 40-60 hypertension', 'Age 60-80 hypertension',
       'Age 80-100 hypertension', 'Age 100-120 hypertension', 'lab_count',
       'lab_freq', 'lab_age_mean', 'lab_age_std'],
      dtype='object')

In [46]:
df1 = df.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag','last_visit_date_x','last_visit_date_y'])
len(df1.columns)

55

In [47]:
df1.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_quality_1.csv')

## Inner join

In [48]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,200,1872,1,2023-02-13 10:31:19.0,0,0,0,741,1131,0,...,0.0,0.0,0.0,68.0,53.0,0.0,255,11.59,78.351188,4.920841
1,291,234,0,2007-03-26 14:15:45.0,0,0,0,0,234,0,...,0.0,0.0,0.0,0.0,57.0,0.0,291,72.75,82.348391,1.191165
2,330,932,1,2024-03-01 00:19:37.0,0,0,51,881,0,0,...,0.0,0.0,4.0,26.0,0.0,0.0,224,9.74,68.476453,4.950045
3,351,773,1,2024-06-04 14:45:34.0,0,0,0,0,773,0,...,0.0,0.0,0.0,0.0,117.0,0.0,102,51.00,85.088940,0.453117
4,960,326,0,2004-12-30 07:11:45.0,0,0,324,2,0,0,...,0.0,0.0,13.0,0.0,0.0,0.0,71,10.14,58.467814,1.602777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,166229,658,0,2004-09-19 15:08:52.0,0,375,283,0,0,0,...,0.0,107.0,160.0,0.0,0.0,0.0,205,41.00,39.648540,1.576924
438,166881,126,0,2004-06-22 07:46:27.0,0,0,0,126,0,0,...,0.0,0.0,0.0,42.0,0.0,0.0,60,20.00,75.409397,0.758989
439,167102,1753,1,2024-04-13 01:04:58.0,0,0,0,1605,148,0,...,0.0,0.0,0.0,137.0,13.0,0.0,398,19.90,70.730963,5.095427
440,167917,442,1,2022-01-27 05:25:51.0,0,0,442,0,0,0,...,0.0,0.0,117.0,0.0,0.0,0.0,60,6.00,45.146645,2.375770
441,168008,776,1,2013-12-03 23:38:48.0,0,0,0,776,0,0,...,0.0,0.0,0.0,207.0,0.0,0.0,167,33.40,72.049028,1.506570

In [49]:
df_2_all = df_2.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag','last_visit_date_x','last_visit_date_y'])

In [50]:
len(df_2_all.columns)

55

In [51]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_quality_2.csv')

In [52]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])

In [38]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['lab_results_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid['percentage'] = df_pid['intersection pid'] / df_pid['number of unique pid'][0] 
df_pid

                table name  number of unique pid  intersection pid  percentage
0            inpatient_pid                  1000              1000       1.000
1          medications_pid                   451               451       0.451
2         immunization_pid                   939               939       0.939
3           procedures_pid                  1000              1000       1.000
4   demographic_static_pid                   998               998       0.998
5  inpatient_specialty_pid                   631               631       0.631
6   demographics_event_pid                   632               632       0.632
7     outpatient_state_pid                   632               632       0.632
8      measurements_bp_pid                  1000              1000       1.000
9          lab_results_pid                   983               983       0.983