In [3]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [4]:
# no date
path = '/home/daisy/FDA_Dataset/demographics_static_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

# no date
path = '/home/daisy/FDA_Dataset/immunization_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_allcause_mortality.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean_allcause_mortality.csv'
procedures = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/measurements_allcause_mortality_train.csv'
measurements = pd.read_csv(path).iloc[:,1:]

In [5]:
# path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
# outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_allcause_mortality.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/demographics_event_preprocessed.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

# no date
path = '/home/vivi/FDA_datasets/outpatient_state.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/measurements_bp_allcause_mortality.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [6]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_allcause_mortality.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [7]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df9 = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')
df = df9.merge(measurements, how = 'left', on = 'Internalpatientid')

In [8]:
df

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,lab_count,lab_freq,lab_age_mean,lab_age_std,Height,Weight,Pulse oximetry min,Pulse oximetry max,Pulse oximetry mean,Pulse oximetry std
0,1,1483,1,2024-07-02 21:13:18,0,0,26,1440,17,0,...,290.0,12.61,71.979178,4.747024,71.878723,239.161669,89.0,103.0,95.899160,3.375874
1,2,2149,1,2024-04-05 03:30:10,0,0,269,1880,0,0,...,594.0,27.00,65.370390,3.971646,67.366878,183.643631,88.0,105.0,97.727079,3.363030
2,3,156,0,2005-10-11 09:10:49,0,0,0,87,69,0,...,1027.0,205.40,81.599486,0.560039,66.500000,NaN,NaN,NaN,NaN,NaN
3,4,336,1,2015-02-24 04:43:51,0,0,0,47,289,0,...,98.0,7.00,82.637824,2.862040,65.583333,180.149734,89.0,105.0,97.537037,3.864268
4,5,124,0,2004-11-04 14:48:32,0,0,0,124,0,0,...,65.0,21.67,76.087584,0.687725,70.238095,230.920161,89.0,98.0,93.500000,6.363961
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133232,169060,1223,1,2017-09-26 11:10:08,0,0,231,992,0,0,...,399.0,26.60,63.398442,5.916780,68.916667,176.288196,88.0,103.0,96.243697,3.543833
133233,169061,119,1,2024-01-29 12:14:06,0,0,0,104,15,0,...,12.0,0.92,75.083324,4.292555,NaN,NaN,NaN,NaN,NaN,NaN
133234,169062,345,0,2005-10-04 20:08:10,0,0,0,345,0,0,...,96.0,24.00,72.544153,1.468975,73.157895,134.263541,88.0,88.0,88.000000,NaN
133235,169063,133,0,2006-02-04 23:24:49,0,0,0,133,0,0,...,13.0,2.60,73.734348,1.268574,NaN,NaN,NaN,NaN,NaN,NaN
133236,169064,433,0,2014-11-25 21:23:12,0,0,0,109,324,0,...,44.0,2.93,81.809302,4.028551,68.542328,262.146318,84.0,98.0,91.338235,3.294547

In [9]:
df.columns

Index(['Internalpatientid', 'num_visits', 'CVD', 'last_visit_date_x',
       'Age 00-20', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'freq', 'Died', 'away_from_death',
       'died_within_125days', 'total_procedure', 'num_surgery_pro',
       'Ethnicity', 'Gender', 'Races', 'Veteran flag', 'Ethnicity_0',
       'Ethnicity_1', 'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2',
       'Races_3', 'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Event date', 'Marital status',
       'Ruca category', 'Marital status encoded', 'Ruca category encoded',
       'State', 'last_visit_date_y', 'Age 20-40 hypotension',
       'Age 40-60 hypotension', 'Age 60-80 hypotension',
       'Age 80-100 hypotension', 'Age 100-120 hypotension',
       'Age 20-40 healthy', 'Age 40-60 healthy', 'Age 60-80 healthy',
       'Age 80-100 healthy', 'Age 100-120 healthy', 'Age 20-40 hypertension',
       'Age 40-60 hypertension', 'Age 60-80 hypertension',
       'Age 80-100 hypertension', 'Age 100-120 hypertension', 'lab_count',
       'lab_freq', 'lab_age_mean', 'lab_age_std', 'Height', 'Weight',
       'Pulse oximetry min', 'Pulse oximetry max', 'Pulse oximetry mean',
       'Pulse oximetry std'],
      dtype='object')

In [10]:
df1_all = df.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died','away_from_death', 'last_visit_date_x', 'last_visit_date_y'])

In [11]:
len(df1_all.columns)

62

In [12]:
df1_all.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_train_1.csv')

## Inner join

In [13]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df9 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2 = df9.merge(measurements, how = 'inner', on = 'Internalpatientid')

In [14]:
df_2_all = df_2.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'Died', 'last_visit_date_x', 'last_visit_date_y',
       'away_from_death'])

In [15]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_train_2.csv')