In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [2]:
# no date
path = '/home/daisy/FDA_Dataset/demographics_static_test_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

# no date
path = '/home/daisy/FDA_Dataset/immunization_test_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_cvd_mortality_test.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean_cvd_mortality_test.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [3]:
medications_ordered

,Internalpatientid,Num med per admission mean,Num med per admission min,Num med per admission max,Total medications
0,12,2.750000,1,4,22
1,17,2.500000,1,3,10
2,25,2.714286,1,3,19
3,31,2.000000,2,2,4
4,41,3.800000,2,5,38
...,...,...,...,...,...
16426,168969,5.857143,1,10,164
16427,168988,3.333333,2,4,20
16428,168995,2.000000,2,2,4
16429,169037,2.000000,2,2,4
16430,169065,4.750000,1,6,38

In [4]:

# no date
path ='/home/vivi/FDA_datasets/inpatient_specialty_cvd_mortality_preprocessed_test.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/demographics_event_test.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

# no date
path = '/home/vivi/FDA_datasets/outpatient_state_test.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/measurements_bp_cvd_mortality_test.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [5]:
path = '/home/hassan/lily/MLA/FDA/inpatient_cvd_mortality_test.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_features_test.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [6]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [7]:
df

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,AO,CVD,unique_admitting_specialty,unique_discharging_specialty,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,9,5,25.29,2,0,0,0,0,4,4,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12,6,24.37,1,0,5,1,1,2,3,...,0.0,0.0,0.0,42.0,0.0,0.0,77.0,15.40,71.968368,1.352795
2,17,13,56.22,2,1,5,0,1,4,5,...,0.0,0.0,0.0,1.0,58.0,0.0,29.0,7.25,81.066231,0.984481
3,22,3,13.20,2,1,0,0,0,2,1,...,0.0,0.0,46.0,55.0,0.0,0.0,NaN,NaN,NaN,NaN
4,31,4,59.75,1,0,0,0,0,2,2,...,0.0,0.0,53.0,7.0,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16017,168995,3,4.68,3,0,0,0,0,3,2,...,0.0,0.0,14.0,150.0,0.0,0.0,35.0,2.06,68.584460,5.570076
16018,169011,2,6.67,2,0,0,1,0,2,2,...,0.0,0.0,4.0,69.0,0.0,0.0,21.0,1.24,65.193106,4.343717
16019,169037,3,66.82,3,0,0,0,0,2,2,...,0.0,0.0,0.0,19.0,23.0,0.0,20.0,1.33,81.119180,4.266003
16020,169059,1,8.91,1,0,0,0,0,1,1,...,0.0,0.0,0.0,22.0,92.0,0.0,25.0,2.27,84.353464,3.635745
16021,169065,14,121.35,4,0,0,0,0,7,6,...,0.0,0.0,37.0,0.0,0.0,0.0,54.0,3.86,49.633672,4.792535

In [8]:
df.columns

Index(['Internalpatientid', 'num_stays', 'stay_length', 'num_unique_units',
       'num_transfers', 'num_cvd_admission', 'AO', 'CVD',
       'unique_admitting_specialty', 'unique_discharging_specialty',
       'DOMICILIARY', 'MEDICINE', 'NHCU', 'NON-COUNT', 'OTHERS', 'PSYCHIATRY',
       'SURGERY', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'age_min', 'age_max', 'stay_min',
       'stay_max', 'stay_mean', 'stay_std', 'freq', 'Medical', 'Mental',
       'Others_Specialty', 'Rehab', 'Gerontology', 'died_by_cvd',
       'Age at death', 'total_procedure', 'num_surgery_pro', 'Ethnicity',
       'Gender', 'Races', 'Veteran flag', 'Ethnicity_0', 'Ethnicity_1',
       'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2', 'Races_3',
       'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'period mean',
       'period std', 'specialty medical count', 'specialty support count',
       'specialty count', 'Event date', 'Marital status', 'Ruca category',
       'Marital status encoded', 'Ruca category encoded', 'State',
       'Age 20-40 hypotension', 'Age 40-60 hypotension',
       'Age 60-80 hypotension', 'Age 80-100 hypotension',
       'Age 100-120 hypotension', 'Age 20-40 healthy', 'Age 40-60 healthy',
       'Age 60-80 healthy', 'Age 80-100 healthy', 'Age 100-120 healthy',
       'Age 20-40 hypertension', 'Age 40-60 hypertension',
       'Age 60-80 hypertension', 'Age 80-100 hypertension',
       'Age 100-120 hypertension', 'lab_count', 'lab_freq', 'lab_age_mean',
       'lab_age_std'],
      dtype='object')

In [9]:
df1 = df.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'AO'])
len(df1.columns)

80

In [10]:
df1.to_csv('/home/daisy/FDA_Dataset/final_cvd_mortality_test_1.csv')

## Inner join

In [11]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,AO,CVD,unique_admitting_specialty,unique_discharging_specialty,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,12,6,24.37,1,0,5,1,1,2,3,...,0.0,0.0,0.0,42.0,0.0,0.0,77,15.40,71.968368,1.352795
1,17,13,56.22,2,1,5,0,1,4,5,...,0.0,0.0,0.0,1.0,58.0,0.0,29,7.25,81.066231,0.984481
2,100,1,55.95,1,1,1,0,1,1,1,...,0.0,0.0,19.0,0.0,0.0,0.0,126,42.00,55.105768,0.348780
3,108,1,1.90,1,0,0,0,0,1,1,...,0.0,0.0,4.0,24.0,0.0,0.0,24,2.18,63.889615,4.099348
4,110,14,134.37,3,0,11,0,1,6,3,...,0.0,0.0,0.0,0.0,215.0,0.0,172,12.29,89.245857,3.808209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6448,168969,9,77.15,3,1,2,1,1,6,5,...,0.0,0.0,3.0,209.0,0.0,0.0,98,10.89,63.581597,1.913179
6449,168988,6,42.60,2,0,0,1,0,1,1,...,0.0,0.0,0.0,90.0,0.0,0.0,31,5.17,75.174370,2.050728
6450,168995,3,4.68,3,0,0,0,0,3,2,...,0.0,0.0,14.0,150.0,0.0,0.0,35,2.06,68.584460,5.570076
6451,169037,3,66.82,3,0,0,0,0,2,2,...,0.0,0.0,0.0,19.0,23.0,0.0,20,1.33,81.119180,4.266003
6452,169065,14,121.35,4,0,0,0,0,7,6,...,0.0,0.0,37.0,0.0,0.0,0.0,54,3.86,49.633672,4.792535

In [12]:
df_2_all = df_2.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'AO'])

In [13]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/final_cvd_mortality_test_2.csv')

In [14]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])

In [15]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['lab_results_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid['percentage'] = df_pid['intersection pid'] / df_pid['number of unique pid'][0] 
df_pid

                table name  number of unique pid  intersection pid  percentage
0            inpatient_pid                 16022             16022    1.000000
1          medications_pid                 16431             12090    0.754587
2         immunization_pid                 32784             15078    0.941081
3           procedures_pid                 26894             12322    0.769068
4   demographic_static_pid                 34768             16006    0.999001
5  inpatient_specialty_pid                 22253             16022    1.000000
6   demographics_event_pid                 34809             16020    0.999875
7     outpatient_state_pid                 34809             16020    0.999875
8      measurements_bp_pid                 16022             16022    1.000000
9          lab_results_pid                 24370             11509    0.718325