In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [2]:
# no date
path = '/home/daisy/FDA_Dataset/demographics_static_test_clean.csv'
demographic_static = pd.read_csv(path).iloc[:,1:]

# no date
path = '/home/daisy/FDA_Dataset/immunization_test_clean.csv'
immunization = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_medications_ordered_allcause_mortality_test.csv'
medications_ordered = pd.read_csv(path).iloc[:,1:]

path = '/home/daisy/FDA_Dataset/inpatient_procedures_clean_allcause_mortality_test.csv'
procedures = pd.read_csv(path).iloc[:,1:]

In [3]:
# path = '/home/hassan/lily/MLA/FDA/outpatient_mortality.csv'
# outpatient_visits = pd.read_csv(path).iloc[:,1:]

path ='/home/vivi/FDA_datasets/inpatient_specialty_allcause_mortality_test.csv'
inpatient_specialty = pd.read_csv(path).iloc[:,1:]

# no date
path ='/home/vivi/FDA_datasets/demographics_event_test.csv'
demographics_event = pd.read_csv(path).iloc[:,1:]
demographics_event = demographics_event.drop(columns = ['Age at update','State'])

# no date
path = '/home/vivi/FDA_datasets/outpatient_state_test.csv'
outpatient_state = pd.read_csv(path).iloc[:,1:]

path = '/home/vivi/FDA_datasets/measurements_bp_allcause_mortality_test.csv'
measurements_bp = pd.read_csv(path).iloc[:,1:]

In [4]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality_test.csv'
inpatient = pd.read_csv(path).iloc[:,1:]

path = '/home/hassan/lily/MLA/FDA/lab_results_allcause_mortality_test.csv'
lab_results = pd.read_csv(path).iloc[:,1:]
lab_results = lab_results.rename(columns = {'count':'lab_count', 'freq':'lab_freq', 
                              'age_mean':'lab_age_mean', 'age_std':'lab_age_std'})

In [5]:
df1 = inpatient.merge(procedures, how = 'left', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'left', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'left', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'left', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'left', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'left', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'left', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'left', on = 'Internalpatientid')

df = df8.merge(lab_results, how = 'left', on = 'Internalpatientid')

In [6]:
df

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,6,820,0,2014-10-16 01:23:22,0,0,0,356,464,0,...,0.0,0.0,0.0,36.0,10.0,0.0,228.0,17.54,80.871278,3.680437
1,7,6371,0,2020-11-23 13:17:39,0,0,2905,3466,0,0,...,0.0,0.0,48.0,184.0,0.0,0.0,341.0,14.83,61.823475,5.038120
2,9,83,0,2000-04-13 19:47:46,0,0,83,0,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,12,204,0,2004-07-18 11:56:33,0,0,0,204,0,0,...,0.0,0.0,0.0,42.0,0.0,0.0,77.0,15.40,72.097035,1.329919
4,17,252,0,2004-07-15 07:53:06,0,0,0,58,194,0,...,0.0,0.0,0.0,1.0,58.0,0.0,29.0,7.25,81.113894,1.067970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34791,169037,920,1,2017-10-24 20:00:40,0,0,0,174,746,0,...,0.0,0.0,0.0,19.0,23.0,0.0,20.0,1.33,81.412657,4.193532
34792,169045,50,1,2022-11-29 12:03:25,0,0,0,2,48,0,...,0.0,NaN,NaN,NaN,NaN,NaN,1.0,1.00,82.635200,0.000000
34793,169058,88,0,2003-08-17 04:14:48,0,0,0,88,0,0,...,0.0,0.0,0.0,3.0,0.0,0.0,10.0,10.00,78.565860,0.222788
34794,169059,507,0,2014-05-29 03:39:32,0,0,0,51,456,0,...,0.0,0.0,0.0,22.0,92.0,0.0,25.0,2.27,83.455869,3.095576
34795,169065,1250,0,2011-06-11 03:23:40,0,32,1218,0,0,0,...,0.0,0.0,37.0,0.0,0.0,0.0,54.0,3.86,49.836411,4.783249

In [7]:
df.columns

Index(['Internalpatientid', 'num_visits', 'CVD', 'last_visit_date_x',
       'Age 00-20', 'Age 20-40', 'Age 40-60', 'Age 60-80', 'Age 80-100',
       'Age 100-120', 'age_mean', 'age_std', 'freq', 'Died', 'away_from_death',
       'died_within_125days', 'total_procedure', 'num_surgery_pro',
       'Ethnicity', 'Gender', 'Races', 'Veteran flag', 'Ethnicity_0',
       'Ethnicity_1', 'Ethnicity_2', 'Races_0', 'Races_1', 'Races_2',
       'Races_3', 'num_immunization', 'Num med per admission mean',
       'Num med per admission min', 'Num med per admission max',
       'Total medications', 'mean age at specailty', 'specialty count',
       'period mean', 'period std', 'specialty medical count',
       'specialty support count', 'Event date', 'Marital status',
       'Ruca category', 'Marital status encoded', 'Ruca category encoded',
       'State', 'last_visit_date_y', 'Age 20-40 hypotension',
       'Age 40-60 hypotension', 'Age 60-80 hypotension',
       'Age 80-100 hypotension', 'Age 100-120 hypotension',
       'Age 20-40 healthy', 'Age 40-60 healthy', 'Age 60-80 healthy',
       'Age 80-100 healthy', 'Age 100-120 healthy', 'Age 20-40 hypertension',
       'Age 40-60 hypertension', 'Age 60-80 hypertension',
       'Age 80-100 hypertension', 'Age 100-120 hypertension', 'lab_count',
       'lab_freq', 'lab_age_mean', 'lab_age_std'],
      dtype='object')

In [9]:
df1 = df.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'last_visit_date_x', 'last_visit_date_y', 'Died','away_from_death'])
len(df1.columns)

56

In [10]:
df1.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_test_1.csv')

## Inner join

In [11]:
df1 = inpatient.merge(procedures, how = 'inner', on = 'Internalpatientid')
df2 = df1.merge(demographic_static, how = 'inner', on = 'Internalpatientid')
df3 = df2.merge(immunization, how = 'inner', on = 'Internalpatientid')
df4 = df3.merge(medications_ordered, how = 'inner', on = 'Internalpatientid')

df5 = df4.merge(inpatient_specialty, how = 'inner', on = 'Internalpatientid')
df6 = df5.merge(demographics_event, how = 'inner', on = 'Internalpatientid')
df7 = df6.merge(outpatient_state, how = 'inner', on = 'Internalpatientid')
df8 = df7.merge(measurements_bp, how = 'inner', on = 'Internalpatientid')

df_2 = df8.merge(lab_results, how = 'inner', on = 'Internalpatientid')
df_2

,Internalpatientid,num_visits,CVD,last_visit_date_x,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,...,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension,lab_count,lab_freq,lab_age_mean,lab_age_std
0,12,204,0,2004-07-18 11:56:33,0,0,0,204,0,0,...,0.0,0.0,0.0,42.0,0.0,0.0,77,15.40,72.097035,1.329919
1,17,252,0,2004-07-15 07:53:06,0,0,0,58,194,0,...,0.0,0.0,0.0,1.0,58.0,0.0,29,7.25,81.113894,1.067970
2,59,1561,1,2020-08-15 15:34:26,0,0,67,1494,0,0,...,0.0,0.0,9.0,85.0,0.0,0.0,328,16.40,67.081813,3.977848
3,60,745,1,2023-09-12 21:17:06,0,0,0,620,125,0,...,0.0,0.0,0.0,110.0,11.0,0.0,155,8.16,72.574926,4.871895
4,100,708,0,2017-03-12 01:31:26,0,0,708,0,0,0,...,0.0,0.0,19.0,0.0,0.0,0.0,126,42.00,55.099415,0.342668
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8602,168969,655,0,2012-10-22 14:51:44,0,0,17,638,0,0,...,0.0,0.0,3.0,209.0,0.0,0.0,98,10.89,64.083058,1.978296
8603,168988,450,0,2008-09-24 13:42:43,0,0,0,450,0,0,...,0.0,0.0,0.0,90.0,0.0,0.0,31,5.17,76.171158,2.277491
8604,168995,851,1,2021-08-21 07:42:56,0,0,54,797,0,0,...,0.0,0.0,14.0,150.0,0.0,0.0,35,2.06,68.495281,5.802519
8605,169037,920,1,2017-10-24 20:00:40,0,0,0,174,746,0,...,0.0,0.0,0.0,19.0,23.0,0.0,20,1.33,81.412657,4.193532
8606,169065,1250,0,2011-06-11 03:23:40,0,32,1218,0,0,0,...,0.0,0.0,37.0,0.0,0.0,0.0,54,3.86,49.836411,4.783249

In [13]:
df_2_all = df_2.drop(columns = ['Event date','Marital status', 'Marital status encoded',
                        'State','Ruca category','Veteran flag', 'last_visit_date_x', 'Died', 'last_visit_date_y',
       'away_from_death'])

In [ ]:
df_2_all.to_csv('/home/daisy/FDA_Dataset/final_allcause_mortality_test_2.csv')

In [ ]:
inpatient_pid = set(inpatient['Internalpatientid'])
medications_pid = set(medications_ordered['Internalpatientid'])
immunization_pid = set(immunization['Internalpatientid'])
procedures_pid = set(procedures['Internalpatientid'])
demographic_static_pid = set(demographic_static['Internalpatientid'])
inpatient_specialty_pid = set(inpatient_specialty['Internalpatientid'])
demographics_event_pid = set(demographics_event['Internalpatientid'])
outpatient_state_pid = set(outpatient_state['Internalpatientid'])
measurements_bp_pid =set(measurements_bp['Internalpatientid'])
lab_results_pid = set(lab_results['Internalpatientid'])

In [ ]:
data_pid = [['inpatient_pid',len(list(inpatient_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_pid)))],
            ['medications_pid',len(list(medications_pid)),len(set.intersection(set(inpatient_pid) & set(medications_pid)))],
            ['immunization_pid',len(list(immunization_pid)),len(set.intersection(set(inpatient_pid) & set(immunization_pid)))],
            ['procedures_pid',len(list(procedures_pid)),len(set.intersection(set(inpatient_pid) & set(procedures_pid)))],
            ['demographic_static_pid',len(list(demographic_static_pid)),len(set.intersection(set(inpatient_pid) & set(demographic_static_pid)))],
            ['inpatient_specialty_pid',len(list(inpatient_specialty_pid)),len(set.intersection(set(inpatient_pid) & set(inpatient_specialty_pid)))],
            ['demographics_event_pid',len(list(demographics_event_pid)),len(set.intersection(set(inpatient_pid) & set(demographics_event_pid)))],
            ['outpatient_state_pid',len(list(outpatient_state_pid)),len(set.intersection(set(inpatient_pid) & set(outpatient_state_pid)))],
            ['measurements_bp_pid',len(list(measurements_bp_pid)),len(set.intersection(set(inpatient_pid) & set(measurements_bp_pid)))],
            ['lab_results_pid',len(list(lab_results_pid)),len(set.intersection(set(inpatient_pid) & set(lab_results_pid)))]]
df_pid = pd.DataFrame(data_pid, columns = ['table name', 'number of unique pid','intersection pid'])
df_pid['percentage'] = df_pid['intersection pid'] / df_pid['number of unique pid'][0] 
df_pid

                table name  number of unique pid  intersection pid  percentage
0            inpatient_pid                 34796             34796    1.000000
1          medications_pid                 15756             15756    0.452811
2         immunization_pid                 32784             32779    0.942034
3           procedures_pid                 26840             26840    0.771353
4   demographic_static_pid                 34768             34751    0.998707
5  inpatient_specialty_pid                 21970             21970    0.631394
6   demographics_event_pid                 34809             34795    0.999971
7     outpatient_state_pid                 34809             34795    0.999971
8      measurements_bp_pid                 34508             34508    0.991723
9          lab_results_pid                 24338             24338    0.699448