In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
measurements_blood_pressure = pd.read_csv('/data/public/MLA/VCHAMPS-Quality/measurements_blood_pressure_qual.csv').iloc[:,1:]

In [3]:
measurements_blood_pressure

,Internalpatientid,Age at measurement bp,Measurement date,Diastolic bp,Systolic bp,State
0,100012,53.086669,2002-08-02 04:15:26.0,75.0,137.0,New Mexico
1,100012,53.583655,2003-01-30 19:49:29.0,87.0,161.0,New Mexico
2,100012,53.837326,2003-05-03 13:01:16.0,77.0,144.0,New Mexico
3,100012,53.898581,2003-05-25 22:21:03.0,73.0,136.0,New Mexico
4,100012,54.044102,2003-07-18 02:51:48.0,68.0,143.0,New Mexico
...,...,...,...,...,...,...
192319,99941,70.999496,2013-07-24 07:34:39.0,71.0,148.0,Maine
192320,99941,73.381373,2015-12-11 21:24:30.0,81.0,153.0,Maine
192321,99941,73.384256,2015-12-12 22:41:26.0,63.0,120.0,Maine
192322,99944,80.132857,2012-08-26 13:25:14.0,63.0,130.0,Massachusetts
192323,99944,80.630428,2013-02-24 10:06:41.0,59.0,117.0,Massachusetts

In [5]:
path = '/home/hassan/lily/MLA/FDA/inpatient_cvd_mortality_quality.csv'
inpatient = pd.read_csv(path).iloc[:,1:]
inpatient

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,CVD,unique_admitting_specialty,unique_discharging_specialty,DOMICILIARY,...,stay_max,stay_mean,stay_std,freq,Medical,Mental,Others_Specialty,Rehab,Gerontology,died_by_cvd
0,67,1,0.18,1,0,0,0,1,1,0,...,0.18,0.18000,0.000000,1.00,1,0,0,0,0,0
1,200,5,26.58,2,0,0,0,4,4,0,...,1.22,5.31600,5.434485,0.31,1,0,0,3,0,0
2,291,8,85.39,2,0,3,1,3,2,0,...,1.65,10.67375,10.195336,2.00,0,0,0,8,0,0
3,330,4,27.44,1,0,1,1,2,2,0,...,0.13,6.86000,5.820533,1.00,1,0,0,3,0,0
4,351,4,36.88,1,0,4,1,2,2,0,...,2.71,9.22000,4.948097,2.00,0,3,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,166881,2,7.75,1,0,1,1,1,1,0,...,2.52,3.87500,1.916259,1.00,2,0,0,0,0,0
628,167102,4,14.33,1,0,0,0,3,2,0,...,2.61,3.58250,0.660271,0.31,2,0,0,2,0,0
629,167404,1,11.63,1,0,1,1,1,1,0,...,11.63,11.63000,0.000000,1.00,0,0,0,1,0,0
630,167917,5,11.24,1,0,2,1,5,2,0,...,0.74,2.24800,0.914287,0.83,3,0,1,1,0,0
631,168008,10,27.57,4,0,0,0,5,5,0,...,0.94,2.75700,2.360264,3.33,3,1,5,0,1,0

In [6]:
inpatient_date = inpatient[['Internalpatientid']]
inpatient_date

     Internalpatientid
0                   67
1                  200
2                  291
3                  330
4                  351
..                 ...
627             166881
628             167102
629             167404
630             167917
631             168008

[632 rows x 1 columns]

In [6]:
# Filter procedure date that's before discharge date
# measurements_bp_merged = measurements_blood_pressure.merge(inpatient_date, how = 'left', on = 'Internalpatientid')
# measurements_bp_merged = measurements_bp_merged.loc[measurements_bp_merged['Measurement date'] <= measurements_bp_merged['Discharge date']]
# measurements_bp_merged

In [7]:
pd.isnull(measurements_blood_pressure).sum()

Internalpatientid        0
Age at measurement bp    0
Measurement date         0
Diastolic bp             0
Systolic bp              0
State                    0
dtype: int64

In [8]:
bins = [0, 60, 80, 200]
diastolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index()

In [10]:
internalpatientid = pd.read_csv('/home/vivi/FDA_datasets/outpatient_state_quality_admission.csv').iloc[:,1:]['Internalpatientid'].reset_index()

In [11]:
internalpatientid.drop(columns='index',inplace=True)

In [12]:
internalpatientid = measurements_blood_pressure.groupby('Internalpatientid')['Internalpatientid']

In [13]:
internalpatientid

In [14]:
# hypotension
bins = [20,40,60,80,100, 120]
previous_df = inpatient_date
data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Systolic bp'] < 100) | (measurements_blood_pressure['Diastolic bp'] < 60)]
new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Age at measurement bp'], bins)).reset_index().fillna(0)
new_df = new_df.rename(columns={pd.Interval(20, 40, closed='right'): 'Age 20-40 hypotension',
                                pd.Interval(40, 60, closed='right'): 'Age 40-60 hypotension',
                                pd.Interval(60, 80, closed='right'): 'Age 60-80 hypotension',
                                pd.Interval(80, 100, closed='right'): 'Age 80-100 hypotension',
                                pd.Interval(100, 120, closed='right'): 'Age 100-120 hypotension'})
previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [15]:
# healthy
data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Systolic bp'] >= 100) & (measurements_blood_pressure['Systolic bp'] < 130) 
                                                            & (measurements_blood_pressure['Diastolic bp'] >= 60) & (measurements_blood_pressure['Diastolic bp'] < 80)]
new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Age at measurement bp'], bins)).reset_index().fillna(0)
new_df = new_df.rename(columns={pd.Interval(20, 40, closed='right'): 'Age 20-40 healthy',
                                pd.Interval(40, 60, closed='right'): 'Age 40-60 healthy',
                                pd.Interval(60, 80, closed='right'): 'Age 60-80 healthy',
                                pd.Interval(80, 100, closed='right'): 'Age 80-100 healthy',
                                pd.Interval(100, 120, closed='right'): 'Age 100-120 healthy'})
previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [16]:
# hypertension
data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Systolic bp'] > 130) | (measurements_blood_pressure['Diastolic bp'] > 80) ]
new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Age at measurement bp'], bins)).reset_index().fillna(0)
new_df = new_df.rename(columns={pd.Interval(20, 40, closed='right'): 'Age 20-40 hypertension',
                                pd.Interval(40, 60, closed='right'): 'Age 40-60 hypertension',
                                pd.Interval(60, 80, closed='right'): 'Age 60-80 hypertension',
                                pd.Interval(80, 100, closed='right'): 'Age 80-100 hypertension',
                                pd.Interval(100, 120, closed='right'): 'Age 100-120 hypertension'})
previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [17]:
previous_df

,Internalpatientid,Age 20-40 hypotension,Age 40-60 hypotension,Age 60-80 hypotension,Age 80-100 hypotension,Age 100-120 hypotension,Age 20-40 healthy,Age 40-60 healthy,Age 60-80 healthy,Age 80-100 healthy,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension
0,67,NaN,NaN,NaN,NaN,NaN,0.0,3.0,0.0,0.0,0.0,0.0,78.0,0.0,0.0,0.0
1,200,0.0,0.0,10.0,11.0,0.0,0.0,0.0,41.0,21.0,0.0,0.0,0.0,68.0,53.0,0.0
2,291,0.0,0.0,0.0,53.0,0.0,0.0,0.0,0.0,13.0,0.0,0.0,0.0,0.0,57.0,0.0
3,330,0.0,0.0,48.0,0.0,0.0,0.0,5.0,121.0,0.0,0.0,0.0,4.0,26.0,0.0,0.0
4,351,0.0,0.0,0.0,54.0,0.0,0.0,0.0,0.0,40.0,0.0,0.0,0.0,0.0,117.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,166881,0.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0
628,167102,0.0,0.0,10.0,0.0,0.0,0.0,0.0,64.0,3.0,0.0,0.0,0.0,137.0,13.0,0.0
629,167404,0.0,0.0,13.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,17.0,0.0,0.0
630,167917,0.0,2.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,117.0,0.0,0.0,0.0
631,168008,0.0,0.0,36.0,0.0,0.0,0.0,0.0,63.0,0.0,0.0,0.0,0.0,207.0,0.0,0.0

In [18]:
pd.crosstab(measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Age at measurement bp'] > 20) & (measurements_blood_pressure['Age at measurement bp'] <= 40)], pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index()

Diastolic bp,Internalpatientid,"(20, 40]","(40, 60]","(60, 80]","(80, 100]","(100, 120]"
0,31319,0,0,0,1,0
1,43829,0,2,23,10,0
2,46131,0,0,5,3,0
3,47012,0,14,68,8,0
4,58641,0,5,53,42,13
5,69390,0,0,16,8,0
6,80242,0,0,1,1,0
7,82314,0,0,0,2,1
8,82968,0,0,0,1,0
9,84262,0,1,3,5,0
10,84821,1,22,16,5,1
11,85966,0,0,2,33,2
12,95448,0,0,5,17,8
13,105769,0,0,10,17,2
14,131516,0,0,5,4,0
15,132165,0,43,131,18,3
16,136533,0,0,0,1,1
17,137040,1,23,13,0,0
18,137771,0,2,6,32,4
19,138195,0,0,8,11,1
20,162507,0,0,1,4,1
21,162755,0,0,3,0,0
22,163598,0,26,39,4,0
23,166229,0,10,37,56,41

In [19]:
measurements_bp_preprocessed = previous_df

In [36]:
#measurements_bp_preprocessed.to_csv('/home/vivi/FDA_datasets/inpatient_measurements_bp_cvd_mortality_quality.csv')

In [20]:
for i in range(1,2):
    data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Diastolic bp'] > i) & (measurements_blood_pressure['Age at measurement bp'] <= (i+1)*20)]
    new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index().fillna(0)
    new_df = new_df.rename(columns={pd.Interval(0, 100, closed='right'): 'Age ' + str(i*20) + '-' + str((i+1)*20)+ ' hypotension',
                                    pd.Interval(100, 130, closed='right'): 'Age ' + str(i*20) + '-' + str((i+1)*20) + ' healthy',
                                    pd.Interval(100, 130, closed='right'): 'Age ' + str(i*20) + '-' + str((i+1)*20) + ' hypetension'})
    previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [21]:
pd.Interval(1, 90, closed='right')

Interval(1, 90, closed='right')

In [22]:
diastolic_mean = measurements_blood_pressure.groupby('Internalpatientid')['Diastolic bp'].mean().reset_index()
diastolic_std = measurements_blood_pressure.groupby('Internalpatientid')['Diastolic bp'].std(ddof=0).reset_index()

In [23]:
systolic_mean = measurements_blood_pressure.groupby('Internalpatientid')['Systolic bp'].mean().reset_index()
systolic_std = measurements_blood_pressure.groupby('Internalpatientid')['Systolic bp'].std(ddof=0).reset_index()
bins = [0, 50, 60, 80, 90, 100, 300]
systolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Systolic bp'], bins)).reset_index()

In [24]:
age_mean = measurements_blood_pressure.groupby('Internalpatientid')['Age at measurement bp'].mean().reset_index()

In [25]:
diastolic_bins = diastolic_bins.rename(columns={pd.Interval(0, 90, closed='right'): '(0,90]_diastolic',
                                                pd.Interval(90, 100, closed='right'): '(90,100]_diastolic',
                                                pd.Interval(100, 130, closed='right'): '(100,130]_diastolic',
                                                pd.Interval(130, 140, closed='right'): '(130,140]_diastolic',
                                                pd.Interval(140, 200, closed='right'): '(140,200]_diastolic'})
systolic_bins = systolic_bins.rename(columns={pd.Interval(0, 50, closed='right'): '(0,50]_systolic',
                                              pd.Interval(50, 60, closed='right'): '(50,60]_systolic',
                                              pd.Interval(60, 80, closed='right'): '(60,80]_systolic',
                                              pd.Interval(80, 90, closed='right'): '(80,90]_systolic',
                                              pd.Interval(90, 100, closed='right'): '(90,100]_systolic',
                                             
                                              pd.Interval(100, 300, closed='right'): '(100,300]_systolic'})

In [26]:
systolic_bins

Systolic bp,Internalpatientid,"(0,50]_systolic","(50,60]_systolic","(60,80]_systolic","(80,90]_systolic","(90,100]_systolic","(100,300]_systolic"
0,67,0,0,0,0,0,82
1,200,0,0,0,4,14,189
2,291,0,0,0,0,0,96
3,330,0,0,0,0,17,190
4,351,0,0,0,2,1,180
...,...,...,...,...,...,...,...
988,167907,0,0,0,0,0,61
989,167917,0,0,0,1,1,124
990,168008,0,0,0,0,7,305
991,168496,0,0,0,0,0,27
992,168899,0,0,0,0,0,20

In [27]:
diastolic_mean = diastolic_mean.rename(columns={'Diastolic bp': 'diastolic mean'})
diastolic_std = diastolic_std.rename(columns={'Diastolic bp': 'diastolic std'})
systolic_mean = systolic_mean.rename(columns={'Systolic bp': 'systolic mean'})
systolic_std = systolic_std.rename(columns={'Systolic bp': 'systolic std'})

In [28]:
systolic_std

     Internalpatientid  systolic std
0                   67     14.645478
1                  200     18.472010
2                  291     14.084162
3                  330     11.536477
4                  351     17.354519
..                 ...           ...
988             167907     15.864797
989             167917     21.543001
990             168008     20.891121
991             168496     16.068099
992             168899     11.291147

[993 rows x 2 columns]

In [29]:
age_mean = age_mean.rename(columns={'Age at measurement bp': 'mean age at measurement bp'})

In [30]:
listTables = [diastolic_mean, diastolic_std, diastolic_bins,systolic_mean,systolic_std,systolic_bins]
measurements_bp_preprocessed = age_mean.copy()
for i in listTables:
    measurements_bp_preprocessed = measurements_bp_preprocessed.merge(i,how = 'left', on = 'Internalpatientid')

In [31]:
measurements_bp_preprocessed

,Internalpatientid,mean age at measurement bp,diastolic mean,diastolic std,"(0, 60]","(60, 80]","(80, 200]",systolic mean,systolic std,"(0,50]_systolic","(50,60]_systolic","(60,80]_systolic","(80,90]_systolic","(90,100]_systolic","(100,300]_systolic"
0,67,53.201557,95.971733,10.288881,0,5,77,136.629000,14.645478,0,0,0,0,0,82
1,200,78.939319,80.275362,11.619429,6,102,99,127.005214,18.472010,0,0,0,4,14,189
2,291,82.817618,59.083333,9.374907,58,34,4,132.968750,14.084162,0,0,0,0,0,96
3,330,69.825741,67.577610,7.869284,40,156,11,115.483092,11.536477,0,0,0,0,17,190
4,351,84.962850,66.021858,10.136207,63,102,18,136.109290,17.354519,0,0,0,2,1,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
988,167907,82.497923,71.820799,9.324408,5,45,11,135.612607,15.864797,0,0,0,0,0,61
989,167917,45.438353,103.095238,18.229328,2,11,113,153.660224,21.543001,0,0,0,1,1,124
990,168008,72.069145,71.375382,9.774684,43,216,53,140.231760,20.891121,0,0,0,0,7,305
991,168496,88.641329,67.962963,8.995808,6,19,2,139.037037,16.068099,0,0,0,0,0,27
992,168899,86.819953,70.750000,9.197146,2,13,5,118.900000,11.291147,0,0,0,0,0,20

In [32]:
measurements_bp_preprocessed.to_csv('/home/vivi/FDA_datasets/measurements_bp_cvd_mortality_test.csv')

In [33]:
pd.isnull(measurements_bp_preprocessed).sum()

Internalpatientid             0
mean age at measurement bp    0
diastolic mean                0
diastolic std                 0
(0, 60]                       0
(60, 80]                      0
(80, 200]                     0
systolic mean                 0
systolic std                  0
(0,50]_systolic               0
(50,60]_systolic              0
(60,80]_systolic              0
(80,90]_systolic              0
(90,100]_systolic             0
(100,300]_systolic            0
dtype: int64

In [34]:
measurements_bp_preprocessed[pd.isnull(measurements_bp_preprocessed['(0,50]_systolic'])]

Empty DataFrame
Columns: [Internalpatientid, mean age at measurement bp, diastolic mean, diastolic std, (0, 60], (60, 80], (80, 200], systolic mean, systolic std, (0,50]_systolic, (50,60]_systolic, (60,80]_systolic, (80,90]_systolic, (90,100]_systolic, (100,300]_systolic]
Index: []

In [35]:
measurements_blood_pressure[measurements_blood_pressure['Internalpatientid'] == 55919]

Empty DataFrame
Columns: [Internalpatientid, Age at measurement bp, Measurement date, Diastolic bp, Systolic bp, State]
Index: []