In [1]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns
from importlib import reload
import matplotlib.pyplot as plt
import preprocess_data 

reload(preprocess_data)

%matplotlib inline

In [2]:
measurements_blood_pressure = pd.read_csv('/data/public/MLA/VCHAMPS-Test/measurements_blood_pressure_test.csv').iloc[:,1:]

In [3]:
measurements_blood_pressure

,Internalpatientid,Age at measurement bp,Measurement date,Diastolic bp,Systolic bp,State
0,100,55.097387,2016-11-02 02:16:29.0,73.0,120.0,New York
1,100,55.101809,2016-11-03 17:03:54.0,57.0,86.0,New York
2,100,55.103167,2016-11-04 04:58:47.0,58.0,92.0,New York
3,100,55.109996,2016-11-06 16:53:06.0,67.0,115.0,New York
4,100,55.120935,2016-11-10 16:50:38.0,54.0,94.0,New York
...,...,...,...,...,...,...
5918663,99997,85.644178,2014-10-13 22:43:42.0,74.0,166.0,North Carolina
5918664,99997,86.921117,2016-01-23 16:02:31.0,64.0,168.0,North Carolina
5918665,99997,88.523663,2017-08-31 09:34:04.0,57.0,148.0,North Carolina
5918666,99997,89.677416,2018-10-27 02:17:20.0,55.0,159.0,North Carolina
5918667,99997,91.226896,2020-05-15 10:19:40.0,58.0,123.0,North Carolina

In [4]:
path = '/home/hassan/lily/MLA/FDA/inpatient_cvd_mortality_test.csv'
inpatient = pd.read_csv(path).iloc[:,1:]
inpatient

,Internalpatientid,num_stays,stay_length,num_unique_units,num_transfers,num_cvd_admission,AO,CVD,unique_admitting_specialty,unique_discharging_specialty,...,stay_mean,stay_std,freq,Medical,Mental,Others_Specialty,Rehab,Gerontology,died_by_cvd,Age at death
0,9,5,25.29,2,0,0,0,0,4,4,...,5.058000,5.481548,5.00,0,0,0,5,0,0,51.878258
1,12,6,24.37,1,0,5,1,1,2,3,...,4.061667,3.318231,1.20,6,0,0,0,0,0,74.122903
2,17,13,56.22,2,1,5,0,1,4,5,...,4.324615,3.370946,3.25,0,1,0,12,0,0,82.387875
3,22,3,13.20,2,1,0,0,0,2,1,...,4.400000,3.918125,0.25,0,0,0,3,0,0,61.533334
4,31,4,59.75,1,0,0,0,0,2,2,...,14.937500,18.290310,0.67,0,0,0,1,3,0,69.475314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16017,168995,3,4.68,3,0,0,0,0,3,2,...,1.560000,1.154253,0.23,1,0,0,1,1,0,75.662580
16018,169011,2,6.67,2,0,0,1,0,2,2,...,3.335000,3.599174,0.22,1,0,0,1,0,0,75.187690
16019,169037,3,66.82,3,0,0,0,0,2,2,...,22.273333,27.531904,1.50,2,0,0,1,0,0,87.743394
16020,169059,1,8.91,1,0,0,0,0,1,1,...,8.910000,0.000000,1.00,0,0,0,0,1,0,91.156817
16021,169065,14,121.35,4,0,0,0,0,7,6,...,8.667857,8.020302,1.00,10,1,0,3,0,0,53.319128

In [5]:
inpatient_date = inpatient[['Internalpatientid']]
inpatient_date

       Internalpatientid
0                      9
1                     12
2                     17
3                     22
4                     31
...                  ...
16017             168995
16018             169011
16019             169037
16020             169059
16021             169065

[16022 rows x 1 columns]

In [6]:
# Filter procedure date that's before discharge date
# measurements_bp_merged = measurements_blood_pressure.merge(inpatient_date, how = 'left', on = 'Internalpatientid')
# measurements_bp_merged = measurements_bp_merged.loc[measurements_bp_merged['Measurement date'] <= measurements_bp_merged['Discharge date']]
# measurements_bp_merged

In [7]:
pd.isnull(measurements_blood_pressure).sum()

Internalpatientid        0
Age at measurement bp    0
Measurement date         0
Diastolic bp             0
Systolic bp              0
State                    0
dtype: int64

In [8]:
bins = [0, 60, 80, 200]
diastolic_bins = pd.crosstab(measurements_blood_pressure['Internalpatientid'], pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index()

In [9]:
internalpatientid = pd.read_csv('/home/vivi/FDA_datasets/outpatient_state_test.csv').iloc[:,1:]['Internalpatientid'].reset_index()

In [10]:
internalpatientid.drop(columns='index',inplace=True)

In [11]:
internalpatientid = measurements_blood_pressure.groupby('Internalpatientid')['Internalpatientid']

In [12]:
internalpatientid

In [13]:
# hypotension
bins = [20,40,60,80,100, 120]
previous_df = inpatient_date
data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Systolic bp'] < 100) | (measurements_blood_pressure['Diastolic bp'] < 60)]
new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Age at measurement bp'], bins)).reset_index().fillna(0)
new_df = new_df.rename(columns={pd.Interval(20, 40, closed='right'): 'Age 20-40 hypotension',
                                pd.Interval(40, 60, closed='right'): 'Age 40-60 hypotension',
                                pd.Interval(60, 80, closed='right'): 'Age 60-80 hypotension',
                                pd.Interval(80, 100, closed='right'): 'Age 80-100 hypotension',
                                pd.Interval(100, 120, closed='right'): 'Age 100-120 hypotension'})
previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [14]:
# healthy
data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Systolic bp'] >= 100) & (measurements_blood_pressure['Systolic bp'] < 130) 
                                                            & (measurements_blood_pressure['Diastolic bp'] >= 60) & (measurements_blood_pressure['Diastolic bp'] < 80)]
new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Age at measurement bp'], bins)).reset_index().fillna(0)
new_df = new_df.rename(columns={pd.Interval(20, 40, closed='right'): 'Age 20-40 healthy',
                                pd.Interval(40, 60, closed='right'): 'Age 40-60 healthy',
                                pd.Interval(60, 80, closed='right'): 'Age 60-80 healthy',
                                pd.Interval(80, 100, closed='right'): 'Age 80-100 healthy',
                                pd.Interval(100, 120, closed='right'): 'Age 100-120 healthy'})
previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [15]:
# hypertension
data = measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Systolic bp'] > 130) | (measurements_blood_pressure['Diastolic bp'] > 80) ]
new_df = pd.crosstab(data, pd.cut(measurements_blood_pressure['Age at measurement bp'], bins)).reset_index().fillna(0)
new_df = new_df.rename(columns={pd.Interval(20, 40, closed='right'): 'Age 20-40 hypertension',
                                pd.Interval(40, 60, closed='right'): 'Age 40-60 hypertension',
                                pd.Interval(60, 80, closed='right'): 'Age 60-80 hypertension',
                                pd.Interval(80, 100, closed='right'): 'Age 80-100 hypertension',
                                pd.Interval(100, 120, closed='right'): 'Age 100-120 hypertension'})
previous_df = previous_df.merge(new_df, how = 'left', on = 'Internalpatientid')

In [16]:
previous_df

,Internalpatientid,Age 20-40 hypotension,Age 40-60 hypotension,Age 60-80 hypotension,Age 80-100 hypotension,Age 100-120 hypotension,Age 20-40 healthy,Age 40-60 healthy,Age 60-80 healthy,Age 80-100 healthy,Age 100-120 healthy,Age 20-40 hypertension,Age 40-60 hypertension,Age 60-80 hypertension,Age 80-100 hypertension,Age 100-120 hypertension
0,9,0.0,8.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN
1,12,0.0,0.0,26.0,0.0,0.0,0.0,0.0,41.0,0.0,0.0,0.0,0.0,42.0,0.0,0.0
2,17,0.0,0.0,2.0,30.0,0.0,0.0,0.0,4.0,16.0,0.0,0.0,0.0,1.0,58.0,0.0
3,22,0.0,0.0,4.0,0.0,0.0,0.0,8.0,10.0,0.0,0.0,0.0,46.0,55.0,0.0,0.0
4,31,0.0,9.0,3.0,0.0,0.0,0.0,38.0,8.0,0.0,0.0,0.0,53.0,7.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16017,168995,0.0,0.0,1.0,0.0,0.0,0.0,3.0,42.0,0.0,0.0,0.0,14.0,150.0,0.0,0.0
16018,169011,0.0,0.0,7.0,0.0,0.0,0.0,3.0,16.0,0.0,0.0,0.0,4.0,69.0,0.0,0.0
16019,169037,0.0,0.0,9.0,50.0,0.0,0.0,0.0,10.0,44.0,0.0,0.0,0.0,19.0,23.0,0.0
16020,169059,0.0,0.0,5.0,1.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,22.0,92.0,0.0
16021,169065,0.0,141.0,0.0,0.0,0.0,0.0,134.0,0.0,0.0,0.0,0.0,37.0,0.0,0.0,0.0

In [17]:
pd.crosstab(measurements_blood_pressure['Internalpatientid'].loc[(measurements_blood_pressure['Age at measurement bp'] > 20) & (measurements_blood_pressure['Age at measurement bp'] <= 40)], pd.cut(measurements_blood_pressure['Diastolic bp'], bins)).reset_index()

Diastolic bp,Internalpatientid,"(20, 40]","(40, 60]","(60, 80]","(80, 100]","(100, 120]"
0,854,0,0,6,4,2
1,1507,0,0,5,18,6
2,1807,0,0,2,0,0
3,1823,0,0,1,0,1
4,1912,0,12,35,16,1
...,...,...,...,...,...,...
737,168348,0,2,33,12,1
738,168540,0,1,21,33,1
739,168638,0,1,6,5,1
740,168735,0,0,0,4,0
741,168807,0,0,3,2,0

In [18]:
measurements_bp_preprocessed = previous_df

In [19]:
measurements_bp_preprocessed.to_csv('/home/vivi/FDA_datasets/measurements_bp_cvd_mortality_test.csv')