In [4]:
import pandas as pd


import numpy as np
import pandas as pd

import seaborn as sns

import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime

In [5]:
path = '/home/hassan/lily/MLA/FDA/outpatient_mortality_test.csv'
outpatient = pd.read_csv(path).iloc[:,1:]
outpatient.head()

,Internalpatientid,num_visits,CVD,last_visit_date,Age 00-20,Age 20-40,Age 40-60,Age 60-80,Age 80-100,Age 100-120,age_mean,age_std,freq,Died,away_from_death,died_within_125days
0,6,820,0,2014-10-16 01:23:22,0,0,0,356,464,0,81.400794,3.696306,58.57,1,78.0,1
1,7,6371,0,2020-11-23 13:17:39,0,0,2905,3466,0,0,60.958170,5.448019,277.00,0,NaN,0
2,9,83,0,2000-04-13 19:47:46,0,0,83,0,0,0,51.288521,0.454438,41.50,1,12.0,1
3,12,204,0,2004-07-18 11:56:33,0,0,0,204,0,0,71.991974,1.491836,34.00,1,8.0,1
4,17,252,0,2004-07-15 07:53:06,0,0,0,58,194,0,80.846346,0.903094,63.00,1,0.0,1

In [6]:
path = '/data/public/MLA/VCHAMPS-Test/procedures_test.csv'
procedures = pd.read_csv(path,engine = 'python',on_bad_lines='warn').iloc[:,1:]
procedures

Skipping line 18710187: unexpected end of data

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State
0,100,52.559428,2014-04-19 11:18:05.0,99343,HOME VISIT FOR THE EVALUATION AND MANAGEMENT O...,New York
1,100,52.559428,2014-04-19 11:18:05.0,G0154,DIRECT SKILLED NURSING SERVICES OF A LICENSED ...,New York
2,100,52.753358,2014-06-29 08:27:24.0,97003,OCCUPATIONAL THERAPY EVALUATION,New York
3,100,52.753358,2014-06-29 08:27:24.0,97535,"SELF-CARE/HOME MANAGEMENT TRAINING (EG, ACTIVI...",New York
4,100,53.094739,2014-11-01 03:03:17.0,G0155,SERVICES OF CLINICAL SOCIAL WORKER IN HOME HEA...,New York
...,...,...,...,...,...,...
18710180,64640,77.455704,2008-04-01 01:25:53.0,99205,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Florida
18710181,64640,78.967937,2009-10-05 18:44:49.0,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New Jersey
18710182,64640,79.269506,2010-01-24 00:06:20.0,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",New Jersey
18710183,64640,79.547951,2010-05-05 18:37:44.0,85610,PROTHROMBIN TIME;,New Jersey
18710184,64640,79.547951,2010-05-05 18:37:44.0,85999,UNLISTED HEMATOLOGY AND COAGULATION PROCEDURE,New Jersey

In [7]:
procedures = procedures.drop_duplicates(subset = ['Internalpatientid', 'Procedure date','Procedure code description'],keep = 'first')

In [8]:
outpatient_date = outpatient[['Internalpatientid','last_visit_date']]
outpatient_date = outpatient_date.drop_duplicates(keep = 'first')
outpatient_date

       Internalpatientid      last_visit_date
0                      6  2014-10-16 01:23:22
1                      7  2020-11-23 13:17:39
2                      9  2000-04-13 19:47:46
3                     12  2004-07-18 11:56:33
4                     17  2004-07-15 07:53:06
...                  ...                  ...
34791             169037  2017-10-24 20:00:40
34792             169045  2022-11-29 12:03:25
34793             169058  2003-08-17 04:14:48
34794             169059  2014-05-29 03:39:32
34795             169065  2011-06-11 03:23:40

[34796 rows x 2 columns]

In [9]:
# Filter procedure date that's before discharge date
outpatient_pro = procedures.merge(outpatient_date, how = 'left', on = 'Internalpatientid')
outpatient_pro2 = outpatient_pro.loc[outpatient_pro['Procedure date'] <= outpatient_pro['last_visit_date']]
outpatient_pro2

,Internalpatientid,Age at procedure,Procedure date,Procedure code,Procedure code description,State,last_visit_date
0,100,52.559428,2014-04-19 11:18:05.0,99343,HOME VISIT FOR THE EVALUATION AND MANAGEMENT O...,New York,2017-03-12 01:31:26
1,100,52.559428,2014-04-19 11:18:05.0,G0154,DIRECT SKILLED NURSING SERVICES OF A LICENSED ...,New York,2017-03-12 01:31:26
2,100,52.753358,2014-06-29 08:27:24.0,97003,OCCUPATIONAL THERAPY EVALUATION,New York,2017-03-12 01:31:26
3,100,52.753358,2014-06-29 08:27:24.0,97535,"SELF-CARE/HOME MANAGEMENT TRAINING (EG, ACTIVI...",New York,2017-03-12 01:31:26
4,100,53.094739,2014-11-01 03:03:17.0,G0155,SERVICES OF CLINICAL SOCIAL WORKER IN HOME HEA...,New York,2017-03-12 01:31:26
...,...,...,...,...,...,...,...
18034930,64640,77.455704,2008-04-01 01:25:53.0,99205,OFFICE OR OTHER OUTPATIENT VISIT FOR THE EVALU...,Florida,2021-04-30 23:14:23
18034931,64640,78.967937,2009-10-05 18:44:49.0,99371,TELEPHONE CALL BY A PHYSICIAN TO PATIENT OR FO...,New Jersey,2021-04-30 23:14:23
18034932,64640,79.269506,2010-01-24 00:06:20.0,90658,"INFLUENZA VIRUS VACCINE, TRIVALENT (IIV3), SPL...",New Jersey,2021-04-30 23:14:23
18034933,64640,79.547951,2010-05-05 18:37:44.0,85610,PROTHROMBIN TIME;,New Jersey,2021-04-30 23:14:23
18034934,64640,79.547951,2010-05-05 18:37:44.0,85999,UNLISTED HEMATOLOGY AND COAGULATION PROCEDURE,New Jersey,2021-04-30 23:14:23

In [10]:
# Calculate total procedures before last admission for each patient
outpatient_pro2 ['total_procedure'] = outpatient_pro2['Procedure code description'].groupby(outpatient_pro2['Internalpatientid']).transform('count')

/tmp/ipykernel_288051/2852625098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  outpatient_pro2 ['total_procedure'] = outpatient_pro2['Procedure code description'].groupby(outpatient_pro2['Internalpatientid']).transform('count')

In [11]:
# Calculate total procedures that's surgery before last admission for each patient
surgery_pro = outpatient_pro2.loc[outpatient_pro2['Procedure code description'].str.contains('SURG')]
surgery_pro['num_surgery_pro'] = surgery_pro['Procedure code'].groupby(surgery_pro['Internalpatientid']).transform('count')

/tmp/ipykernel_288051/2115936644.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  surgery_pro['num_surgery_pro'] = surgery_pro['Procedure code'].groupby(surgery_pro['Internalpatientid']).transform('count')

In [12]:
procedures['Internalpatientid'].nunique()

26894

In [13]:
columns = ['Internalpatientid', 'total_procedure']
df = outpatient_pro2[columns]
df = df.groupby('Internalpatientid').mean().reset_index(drop = False)
df = df.merge(surgery_pro[['Internalpatientid','num_surgery_pro']], how = 'left',on = 'Internalpatientid')
df['num_surgery_pro'] = df['num_surgery_pro'].fillna(0)
df = df.groupby('Internalpatientid').mean().reset_index(drop = False)
df

       Internalpatientid  total_procedure  num_surgery_pro
0                      6            767.0              3.0
1                     12            246.0              0.0
2                     17            338.0              1.0
3                     22            259.0              0.0
4                     25            881.0              9.0
...                  ...              ...              ...
26835             169037            780.0              0.0
26836             169045             40.0              0.0
26837             169058             86.0              1.0
26838             169059            520.0              0.0
26839             169065           1862.0              4.0

[26840 rows x 3 columns]

In [14]:
df.to_csv('/home/daisy/FDA_Dataset/inpatient_procedures_clean_allcause_mortality_test.csv')